<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ourwardrobe">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OurWardrobe"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".Jackets"
            android:exported="false" />
        <activity
            android:name=".Shoes"
            android:exported="false" />
        <activity
            android:name=".Dresses"
            android:exported="false" />
        <activity
            android:name=".Skirts"
            android:exported="false" />
        <activity
            android:name=".Pants"
            android:exported="false" />
        <activity
            android:name=".AdminSettings"
            android:exported="false" />
        <activity
            android:name=".Spinner"
            android:exported="false" />
        <activity
            android:name=".WardrobeSettings"
            android:exported="false" />
        <activity
            android:name=".AccountSettings"
            android:exported="false" />
        <activity
            android:name=".GalleryImageAdapter"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".Gallery"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".Camera"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".Shirts"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:theme="@style/splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.OurWardrobe.NoActionBar" />
        <activity
            android:name=".Login"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />
        <activity
            android:name=".OutfitCreator"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.OurWardrobe.NoActionBar" />
    </application>

</manifest>